#container {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    box-sizing: border-box;
    border: 5px solid #000000;
    border-radius: 10px;
    width: 409px;
    margin: 0 auto;
}

.square {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #000000;
}

h1 {
    color: #000000;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace
}